version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@4.0.0

jobs:
  ci:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Dependency Installation
          command: yarn --frozen-lockfile --ignore-engines
      - sonarcloud/scan

workflows:
  ci:
    jobs:
      - ci:
          context: sonarcloud
