@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Lato&family=Roboto&family=Bebas+Neue&family=Spartan&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Poppins', 'Lato', sans-serif;
}

body {
  margin: 0;
}
